<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  About us:<br>
<%= link_to image_tag('http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/000/295/193/12200f8.jpg', alt: "Rails"), 'http://linkedin.com/pub/ryan-riley/6b/818/68b/' %>  Ryan Riley - Backend programming / Business Logic <br><br><br>
  <%= link_to image_tag('http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/5/000/25b/115/1580d65.jpg', alt: "Rails"), 'http://linkedin.com/in/elriley/' %> Erik Riley - Front End/ User Interface design and implementation
</p>

        
