<% provide(:title, 'About Us') %>
<h1>About GameBook</h1>
<p>
  Future site of GameBook about page<br>

  <%= image_tag('http://gamecliche.com/wp-content/uploads/2013/10/original.jpg', alt: "Rails") %> 
</p>

        
