<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  About us:<br>
  Ryan Riley - Backend programming / Business Logic <br>
  Erik Riley - Front End/ User Interface design and implementation
</p>
