<div class="center hero-unit">
  <h1>Welcome to Riley Business Solutions</h1>

  <h2>
    This is the home page for the development testing of RBS
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag('http://img1.etsystatic.com/024/0/7922514/il_170x135.476342991_idle.jpg', alt: "Rails"), 'http://erik-riley.com' %>
